<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <ws2007HttpBinding>
                <binding name="WS2007HttpBinding_IDrawingArxiveService1" />
                <binding name="WS2007HttpBinding_IDrawingArxiveService11" />
            </ws2007HttpBinding>
        </bindings>
        <client>
            <endpoint address="http://hqapp3:9875/DrawingArxiveService" binding="ws2007HttpBinding"
                bindingConfiguration="WS2007HttpBinding_IDrawingArxiveService11"
                contract="DrawingArxiveService.IDrawingArxiveService1" name="WS2007HttpBinding_IDrawingArxiveService1">
                <identity>
                    <servicePrincipalName value="host/hqapp3.iztr.ru" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>