<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="ExposeMetaDataBehavior">
                    <serviceMetadata httpGetEnabled="true" httpGetUrl="http://hqapp3:9875/DrawingArxiveService/MEX" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="ExposeMetaDataBehavior" name="DrawingArxiveService.DrawingArxiveService">
                <endpoint address="http://hqapp3:9875/DrawingArxiveService" binding="ws2007HttpBinding"
                    bindingConfiguration="" contract="DrawingArxiveService.IDrawingArxiveService1" />
            </service>
        </services>
    </system.serviceModel>
</configuration>